/* Search */

.search__wrapper{
  position: absolute;
  left: calc(50% - 350px);
  top: -20px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  border-radius: 5px;
  width: 700px;
}

.search__input {
  width: 300px;
  padding: 10px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  width: 80%;
  font-size: 14px;
}

.search__input:active,
.search__input:focus {
  outline: none;
}

.search__submit {
  background-color: #A3C47F;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 5px;
  width: calc(20% - 30px)
}

.search__submit span {
  position: relative;
  top: 11px;
}
